Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages
- Libraraies
- Tools
- Arithmetic expressions
- Conslusion

Some of the popular languages that Data Scientists use are:

    1.Python
    2.R
    3.SQL

Some of the commonly used libraries used by Data Scientists include:

    1.Numphy
    2.Pandas
    3.Plotly

Data Science Tools

| Tools |  |
| -------------| ------ |
| Jupiter Notebook |
| Plotly |
| Github |

### Below are a few examples of evaluating arithmetic expressions in Python.
This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [7]:
200/60

3.3333333333333335

## Author 
Danil